/* 

.btn {
  display: block;
  position: fixed;
  padding: 0px;
  margin: 25px;
  width: 40px;
  height: 40px;
  right: 0px;
  bottom: 0px;
  color: #000000;
  font-size: 30px;
  font-weight: bold;

  background-color: #969ab0;
  text-align: center;
  border-radius: 50%;
  z-index: 20;
}

.btn:hover,
.flip:hover {
  background-color: #a6a9b9;
  cursor: pointer;
}

.emptydiv {
  display: block;
  position: fixed;
  margin: 10px auto;
  width: 100%;
  height: 90%;
  font-size: 2rem;
  color: rgb(157, 157, 157);
  z-index: -1;
  text-align: center;
  padding-top: 20%;
  -webkit-user-select: none;
  user-select: none;
}

.inputContainer {
  display: block;
  position: relative;
  background-color: #393e46;
  color: #fff;
  padding: 15px;
  text-align: center;
  width: 500px;
  height: 400px;
  margin: 30px auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.326), 0 1px 2px rgba(0, 0, 0, 0.24);
  perspective: 600px;
  transform-style: preserve-3d;

  transition: transform 1s;
}
.flips {
  transform: rotateY(-180deg);
}

.title {
  display: block;
  margin: 10px auto;
  right: 0px;
  bottom: 0px;
  padding: 15px;
  text-align: center;
  width: 95%;
  height: 40px;
  background-color: #c6c6c6;
}

.notes {
  margin: 10px auto;
  right: 0px;
  bottom: 0px;
  padding: 15px;
  text-align: center;
  width: 95%;
  height: 240px;
  background-color: #c6c6c6;
}

.answer {
  height: 300px;
}
.textareaFlips {
  transform: rotateY(180deg);
}

.delbtn {
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
  color: #000000;
  height: 30px;
  width: 30px;
  font-size: 11px;
  font-weight: bold;
  background-color: #969ab0;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.326), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 100;
}

.delbtn:hover {
  background-color: #e7433d;
  cursor: pointer;
}

.hidCard {
  display: none;
}

.flip {
  font-size: 2rem;
  color: #000000;
  height: 40px;
  width: 95%;
  font-weight: bold;
  background-color: #969ab0;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.326), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media only screen and (max-width: 1000px) {
  .emptydiv {
    margin: 10px auto;
    width: 100%;
    font-size: 1.2rem;
  }

  .inputContainer {
    width: 320px;
    height: 400px;
    margin: 30px auto;
    padding: 1px;
  }
} */

@import "https://fonts.googleapis.com/css?family=Lato:400,700";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  display: block;
  font-size: 1rem;
  font-family: "Lato", sans-serif !important;
  background-color: #222831;
  color: rgb(51, 51, 51);
}
.container {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  height: 100%;
  border: 0.1rem solid #312222a1;
  position: relative;
}

.header {
  max-width: 100%;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
.title img {
  width: 60px;
  height: 40px;
}

.cart {
  width: 60px;
  height: 40px;
  border-left: 0.1rem solid #222831;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .cart:hover > * {
  border: 0.1rem solid #222831a1;
  border-radius: 50%;
  padding: 12px;
} */

.product {
  display: flex;
  margin-top: 5px;
  max-width: 800px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-in-cart {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 600px;
  height: 70px;
  background-color: #ffffff;
  transition: bottom 1s;
  border-top: 0.1rem solid #312222a1;
  align-items: center;
}
.left-arrow {
  height: 100%;
  width: 50px;
  border-right: 0.1rem solid #312222a1;
}
.right-arrow {
  height: 100%;
  width: 50px;
  border-left: 0.1rem solid #312222a1;
}
/* .product-in-cart:hover {
  height: 80px;
} */

.cart__images {
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.product-added {
  flex-shrink: 0;
  margin-right: 10px;
  height: 60px;
  width: 60px;
  border: 0px red solid;
  border-radius: 10%;
  background-position: center;
  background-size: 70px 70px;
  background-color: rgb(178, 178, 198);
}

/*--------------------------- card ---------------------------*/
.card {
  width: 200px;
  height: 300px;
  margin: 1px 1px;
  background-color: #ffffff;
  text-align: center;
  border: 0.1rem solid #312222a1;
}

.card span {
  display: block;
  width: 100%;
  margin: 5px auto;
}
.card__image img {
  margin: auto;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card__addbtn {
  display: block;
  padding: 5px;
  margin: 5px auto;
  width: 100px;
  border: 1px rgb(168, 168, 168) solid;
}

.card__addbtn:hover {
  cursor: pointer;
  /* transition-duration: 0.85s; */
  /* transform: scale3d(1.05, 1, 2); */
}

/*--------------------------- shopping__cart ---------------------*/

.shopping__cart {
  width: 700px;
  min-height: 500px;
  background-color: #ffffff;
  margin: auto;
  padding: 50px;
}
.shopping__cart_item {
  padding: 0 10px;
  display: flex;
  width: 600px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: 1px rgb(168, 168, 168) solid;
  flex-shrink: 0;
  margin-top: 5px;
}

.shopping__cart_item_image img {
  width: 80px;
  height: 80px;
}

.shopping__cart_item_price {
  width: 200px;
  text-align: end;
}
