@import "https://fonts.googleapis.com/css?family=Lato:400,700";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
body {
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  background-color: #7d7d7d;
  color: rgb(92, 92, 92);
}
.container {
  display: block;
  max-width: 1000px;
  position: relative;
  margin: 10px auto;
  background-color: #ffffff;
  box-shadow: 5px 1px 10px -2px #3535356a;
}
.header {
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px rgba(168, 168, 168, 0.326) solid;
  align-items: center;
  padding-left: 20px;
}
.title img {
  width: 60px;
  height: 40px;
}
/*------------------- Add to cart button -----------------------------------*/
.cart_btn {
  width: 80px;
  height: 60px;
  border-left: 0.1rem rgba(168, 168, 168, 0.326) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}
.cart_btn img {
  width: 40px;
  height: 40px;
}
.product {
  position: relative;
  display: flex;
  margin: 10px auto 50px auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 0;
  max-width: 910px;
}
.product-in-cart {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 600px;
  height: 70px;
  background-color: #ffffff;
  transition: bottom 1s;
  border-top: 0.1rem solid #312222a1;
  align-items: center;
}
.cart__images {
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}
.product-added {
  flex-shrink: 0;
  margin-right: 10px;
  height: 60px;
  width: 60px;
  border: 0px red solid;
  border-radius: 10%;
  background-position: center;
  background-size: 70px 70px;
  background-color: rgb(178, 178, 198);
}
/*--------------------------- card ---------------------------*/
.card {
  width: 200px;
  height: 300px;
  margin: 1px 1px;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid rgba(168, 168, 168, 0.312);
}
.card span {
  display: block;
  width: 100%;
  margin: 5px auto;
  line-height: 1.3;
}
.card__image img {
  margin: auto;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card__addbtn {
  display: block;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;
  z-index: 0;
  padding: 5px;
  margin: 10px auto;
  width: 200px;
  border: 1px rgb(221, 221, 221) solid;
  box-shadow: 5px 1px 10px -2px #35353529;
}

.card__addbtn:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}
/*--------------------------- shopping__cart ---------------------*/
.itemCount {
  max-width: 50px;
  font-size: 1rem;
  border: 1px rgba(168, 168, 168, 0.326) solid;
  padding: 5px 5px;
}
.cart_empty {
  display: block;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}
.hidden {
  display: none;
}
#cart_empty_icon {
  width: 99%;
  margin: 50px auto;
  height: 100px;
}
.cart_empty_title {
  padding: 15px 40px;
  font-size: 1.1rem;
  font-weight: normal;
}
.shopping__cart_container {
  display: block;
  position: relative;
}

.shopping__cart {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #e3e3e3;
  margin: 60px auto;
  height: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 0;
  top: 0;
  right: 0;
  z-index: 1;
  height: 1257px;
}

.show {
  padding: 5px;
  width: 100vw;
  border: 1px rgba(168, 168, 168, 0.326) solid;
}
.shopping__cart_item {
  position: relative;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 5px 1px 10px -2px #b4b4b46a;
  background-color: #ffffff;
  flex-shrink: 0;
  margin-top: 5px;
  padding: 0 10px;
}
.animate {
  height: 0;
  padding: 0;
  margin: 0;
}
.shopping__cart_item_image img {
  width: 80px;
  height: 80px;
  flex-grow: 2;
  border-radius: 50%;
}
.item_name {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 20px;
}
.item_removebtn {
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
.item_removebtn:hover {
  color: rgb(248, 75, 75);
}
.shopping__cart_added {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  text-align: end;
  margin-top: 1px;
  padding: 20px 10px;
  border-bottom: 1px rgba(168, 168, 168, 0.326) solid;
  box-shadow: 5px 1px 10px -2px #b4b4b46a;
  background-color: #ffffff;
  order: 1;
  z-index: 5;
}
/*--------------------------- @media ---------------------*/
@media only screen and (min-width: 650px) {
  .card {
    width: 300px;
    height: 400px;
  }
  .card__image img {
    height: 270px;
  }
  .show {
    width: 450px;
    padding: 10px;
  }
}
