@import "https://fonts.googleapis.com/css?family=Lato:400,700";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
.line_break {
  width: 1000px;
  height: 5px;
  border: none;
  border-bottom: 3px solid black;
}

body {
  font-size: 1rem;
  font-family: "Lato", sans-serif !important;
  background-color: #222831;
  color: rgb(51, 51, 51);
}
.container {
  display: block;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
}

.header {
  height: 60px;
  background-color: #ffffff;
  border-bottom: 0.1rem solid #312222a1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
.title img {
  width: 60px;
  height: 40px;
}
/*------------------- Add to cart button -----------------------------------*/

.cart_btn {
  width: 80px;
  height: 60px;
  border-left: 0.1rem solid #222831;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}
.cart_btn img {
  width: 40px;
  height: 40px;
}

/*------------------------------------------------------*/

.active {
  color: rgb(0, 186, 53);
}
.product {
  position: relative;
  display: flex;
  margin: 10px auto 50px auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 0;
  max-width: 910px;
}

.product-in-cart {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 600px;
  height: 70px;
  background-color: #ffffff;
  transition: bottom 1s;
  border-top: 0.1rem solid #312222a1;
  align-items: center;
}
.left-arrow {
  height: 100%;
  width: 50px;
  border-right: 0.1rem solid #312222a1;
}
.right-arrow {
  height: 100%;
  width: 50px;
  border-left: 0.1rem solid #312222a1;
}
/* .product-in-cart:hover {
  height: 80px;
} */

.cart__images {
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.product-added {
  flex-shrink: 0;
  margin-right: 10px;
  height: 60px;
  width: 60px;
  border: 0px red solid;
  border-radius: 10%;
  background-position: center;
  background-size: 70px 70px;
  background-color: rgb(178, 178, 198);
}

/*--------------------------- card ---------------------------*/

.card {
  width: 200px;
  height: 300px;
  margin: 1px 1px;
  background-color: #ffffff;
  text-align: center;
  /* border: 0.1rem solid #312222a1; */
}

.card span {
  display: block;
  width: 100%;
  margin: 5px auto;
}
.card__image img {
  margin: auto;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card__addbtn {
  display: block;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;
  z-index: 0;
  padding: 5px;
  margin: 5px auto;
  width: 100px;
  border: 1px rgb(168, 168, 168) solid;
}

.card__addbtn:hover {
  cursor: pointer;
}

.ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  transform: scale(0);
  background: #312222a1;
}

.animate {
  animation: ripple 0.65s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
/*--------------------------- shopping__cart ---------------------*/
.arrow {
  position: absolute;
  top: -10px;
  right: 18px;
  border-left: 32px solid #ffffff;
  border-left-color: rgba(217, 12, 12, 0);
  border-left-width: 22px;
  border-right: 32px solid #ffffff;
  border-right-color: rgba(248, 0, 0, 0);
  border-right-width: 22px;
  border-bottom: 2px solid rgba(255, 4, 4, 0);
  border-bottom-color: #ffffff;
  border-bottom-width: 20px;
}

.itemCount {
  max-width: 7%;
  font-size: 1rem;
  border-right: 1px rgb(168, 168, 168) solid;
  flex-grow: 0.1;
  height: 30px;
}

.shopping__cart_added {
  display: none;
  text-align: end;
  border: 1px rgba(168, 168, 168, 0.326) solid;
  max-width: 500px;
  order: 1;
  padding: 10px 10px;
}
.cart_empty {
  display: block;
}
.hidden {
  display: none;
}
#cart_empty_icon {
  width: 99%;
  margin: 50px auto;
  height: 100px;
}
.cart_empty_title {
  padding: 15px 40px;
}
.shopping__cart_container {
  display: block;
  position: relative;
}

.shopping__cart {
  display: block;
  visibility: hidden;
  max-width: 0;
  text-align: center;
  background-color: #ffffff;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.show {
  visibility: visible;
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 1275px;
  max-width: 700px;
  transition: max-width 0.2s ease-out;
  margin: 61px auto;
}

.shopping__cart_item {
  position: relative;
  padding: 0 10px;

  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: 1px rgba(168, 168, 168, 0.361) solid;
  flex-shrink: 0;
  margin-top: 5px;
}

.shopping__cart_item_image img {
  width: 80px;
  height: 80px;
  flex-grow: 2;
  padding-left: 10px;
}
.item_name {
  flex-grow: 1;
}
.item_removebtn {
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
.item_removebtn img {
  width: 20px;
  height: 20px;
  flex-grow: 2;
}

/*--------------------------- Footer ---------------------------*/

footer {
  display: block;
  position: relative;
  max-width: 1000px;
  margin: 0px auto;
  padding: 0.8rem;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-top: 1px rgba(168, 168, 168, 0.396) solid;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.576);
}

/*--------------------------- @media ---------------------*/

@media only screen and (min-width: 650px) {
  /* .product {
    max-width: 1000px;
  } */
  .card {
    width: 300px;
    height: 400px;
  }

  .card__image img {
    height: 270px;
  }
}
